<section id = "contacto">
    <h3>Contacto</h3>
    <p>Telefono: <span>771 322 8709</span></p>
    <p>Direccion: <span>Villa nueva Mexico</span></p>
    <p>Correo: <span>saul92dbz@gmail.com</span></p>
</section>
<footer>
    <span>By Saul Ricaño 2023</span>
</footer>