<header class="header">
  <a id="logo" href="/">Minecraft <span >API</span></a>
  <nav>
     <ul class="nav-links">
          <li><a href="/">Inicio</a></li>
          <li><a href="/documentation">Documentación</a></li>
          <li><a href="/About">Acerca de...</a></li>
     </ul>            
  </nav>
  <a class="btn" href="#contacto"><button>Contactanos</button></a>
</header>